/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */

/*
uncomment to add a logo (in an ../images directory relative to this file)
*/


#header {
	height:140px;
	entityIconAndTitlePanel a img {
	    display: none;
	}	
}

#header h1 {
	color:#279898;
	background-color: white;
}

.headerContainer{
	background:none;
	background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center top;
	background-color:white;	
}

a#header{
 text-decoration: underline;	
}

.bookmarkedPagesPanel {
	display:none;
}

.bookmarkedPagesPanel .bookmarkedPagesList {
   display:none;
}

.bookmarkedPagesPanel .bookmarkedPageItem {
    display:none;
}

.bookmarkedPagesPanel span.bookmarkedPageImageAndTitle {
  display:none;
}

.bookmarkedPagesPanel span.bookmarkedPageImageAndTitle:hover {
    display:none;
}

.bookmarkedPagesPanel .bookmarkedPagesList a img.bookmarkedPageImage {
    display:none;
}

.bookmarkedPagesPanel .bookmarkedPagesList span.bookmarkedPageTitle {
display:none;
}

.bookmarkedPagesPanel span.bookmarkedPageTitle {
display:none;
}

.bookmarkedPagesPanel .bookmarkedPagesList a:hover span.bookmarkedPageTitle {
display:none;
}

.bookmarkedPagesPanel .clearBookmarks {
display:none;
}

.bookmarkedPagesPanel .clearBookmarks {
display:none;
}

.bookmarkedPagesPanel .currentBookmark span.bookmarkedPageImageAndTitle,
.bookmarkedPagesPanel .currentBookmark span.bookmarkedPageTitle {
    display:none;
}


.showPanelTab {
	display:none;
}

#bookmarkedPagesSlidingDiv {
	display:none;
}
#bookmarkedPagesSlidingDiv .content {
   display:none;
}

.bookmarkDepth0 {
    display:none;
}
.bookmarkDepth1 {
    display:none;
}
.bookmarkDepth2 {
   display:none;
}
.bookmarkDepth3 {
    display:none;
}
.bookmarkDepth4 {
    display:none;
}
.bookmarkDepth5 {
    display:none;
}

.clearBookmarkPlaceHolder {
display:none;
}

.clearBookmark,
.clearBookmarks {
   display:none;
}

.clearBookmarks span {
	display:none;
}

.bookMarkedPageItem{
	display:none;
	
}


.bookMarkedPageImage{
	display:none;
	
}

.bookMarkedPageTitle{
	display:none;
	
}

.links a {
	color:#183434;
}



/**************** APPLICATION MENU **************/

#applicationActions {
    padding-left: 10px;
    height:40px;
    margin-left: 10px;
}

#applicationActions .menuh {
	background-color: #279898;
	position:relative;
	z-index:501;
}

	#applicationActions .menuh ul.cssMenuItems {
		line-height:30px;
	}
	
	#applicationActions .cssMenuPanel .menuh a:link, 
	#applicationActions .cssMenuPanel .menuh a:visited, 
	#applicationActions .cssMenuPanel .menuh a:active, 
	#applicationActions .cssMenuPanel .menuh p {
		background-color: transparent;
    	color:white;
    	text-decoration: none;
    	text-transform:uppercase;
    	font-size:0.9em;
    	font-weight:bold;
	}
	
	#applicationActions .cssMenuPanel .menuh li a:link, 
	#applicationActions .cssMenuPanel .menuh li a:visited, 
	#applicationActions .cssMenuPanel .menuh li a:active, 
	#applicationActions .cssMenuPanel .menuh li p {
		border-radius:4px 4px 0px 0px;
    	-moz-border-radius:4px 4px 0px 0px;
    	-webkit-border-radius:4px 4px 0px 0px;
	}
	
	#applicationActions .cssMenuPanel .menuh li li a:link, 
	#applicationActions .cssMenuPanel .menuh li li a:visited, 
	#applicationActions .cssMenuPanel .menuh li li a:active, 
	#applicationActions .cssMenuPanel .menuh li li p {
		border-radius:0px;
    	-moz-border-radius:0px;
    	-webkit-border-radius:0px;
		background-color:#279898;
	}
	
	#applicationActions .cssMenuPanel .menuh li li:last-child a:link, 
	#applicationActions .cssMenuPanel .menuh li li:last-child a:visited, 
	#applicationActions .cssMenuPanel .menuh li li:last-child a:active, 
	#applicationActions .cssMenuPanel .menuh li li:last-child p {
		border-radius:0px 0px 4px 4px;
		-webkit-border-radius:0px 0px 4px 4px;
		-moz-border-radius:0px 0px 4px 4px;
		background-color: #279898;
	}
	
	#applicationActions .cssMenuPanel .menuh li li:first-child a:link, 
	#applicationActions .cssMenuPanel .menuh li li:first-child a:visited, 
	#applicationActions .cssMenuPanel .menuh li li:first-child a:active, 
	#applicationActions .cssMenuPanel .menuh li li:first-child p {
		border-radius:0px 4px 0px 0px;
		-webkit-border-radius:0px 4px 0px 0px;
		-moz-border-radius:0px 4px 0px 0px;
		background-color: #279898;
	}
	
	#applicationActions .cssMenuPanel .menuh li li:first-child:last-child a:link, 
	#applicationActions .cssMenuPanel .menuh li li:first-child:last-child a:visited, 
	#applicationActions .cssMenuPanel .menuh li li:first-child:last-child a:active, 
	#applicationActions .cssMenuPanel .menuh li li:first-child:last-child p {
		border-radius:0px 4px 4px 4px;
		-webkit-border-radius:0px 4px 4px 4px;
		-moz-border-radius:0px 4px 4px 4px;
		background-color: #279898;
	}
	
	
	#applicationActions .menuh a, 
	#applicationActions .menuh p {
	    border: 0px solid #00477F;
	    padding: 0px 1em 0px 1em;
	    background-image:none !important;
	}
	
	#applicationActions .cssMenuPanel .menuh li:hover a, 
	#applicationActions .cssMenuPanel .menuh li:hover p {
		color: #FFFFFF;
		background-color: #279898;
	}
	
	#applicationActions .cssMenuPanel .menuh a:hover, 
	#applicationActions .cssMenuPanel .menuh p:hover {
		color: #FFFFFF;
		background-color: #279898;
	}
	
	#applicationActions .cssMenuPanel .menuh li li a:hover, 
	#applicationActions .cssMenuPanel .menuh li li p:hover {
		color: #FFFFFF;
		background-color: #6E9595 !important;
	}
	
	#applicationActions ul.cssSubMenuItemsPanel {
		min-width:220px;
	}
	
    #applicationActions ul.cssSubMenuItemsPanel li.cssSubMenuItem p.disabled {
        color: #888;
        background-color: #F0EFEA;
    } 


/**************** ELEMENTS **************/

body{
	background-color: #279898;
}


/* Buttons */
.edit,
.ok,
.okButton {
	background-color:#279898;
}

.cancel {
	background-color:#279898;	
}
