# -- Composer -----------------------------------------
composer.phar

# -- PHPUnit ------------------------------------------
app/phpunit.xml

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.pydevproject
.project
.metadata/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
target/
*/target/
*/target-ide/
# phpstorm
.idea/

# textmate
*.tmproj
*.tmproject
tmtags

#log files
isis.log
datanucleus.log
#temporal files
.xml~


